{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-hmre",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
