/**
 * Normalize.css
 */
@import '~normalize.css/normalize.css';

/**
 * Basic
 */
@import './mixins';

/**
 * Components
 */
@import './test';

body {
  background-color: #ccc;
  font-size: 2rem;
  color: #999;
}
